In [13]:
import requests
import pandas as pd
import numpy as np
import re
import time
import math
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

In [15]:
df_race = pd.read_csv('race_data.csv')
df_race

           race_id        date place  ... jockey_18  popular_18 weight_18
0     202006010511  2020-01-13    中山  ...       NaN         NaN       NaN
1     202008010510  2020-01-13    京都  ...       NaN         NaN       NaN
2     202008010511  2020-01-13    京都  ...       NaN         NaN       NaN
3     202006010410  2020-01-12    中山  ...       NaN         NaN       NaN
4     202006010411  2020-01-12    中山  ...       NaN         NaN       NaN
...            ...         ...   ...  ...       ...         ...       ...
2697  201504010111  2015-05-02    新潟  ...       NaN         NaN       NaN
2698  201505020310  2015-05-02    東京  ...       NaN         NaN       NaN
2699  201505020311  2015-05-02    東京  ...    1123.0        18.0       NaN
2700  201508030310  2015-05-02    京都  ...       NaN         NaN       NaN
2701  201508030311  2015-05-02    京都  ...       NaN         NaN       NaN

[2702 rows x 116 columns]

In [17]:
horse = df_race['horse_id'].unique().tolist()
jockey = df_race['jockey_id'].unique(),tolist()

print(len(horse), len(jockey))

6961 250

In [19]:
############## Helper #################
def convert_num(value:str, flg:bool):
    '''
    str型を数値int/float型に変更
    null、空文字、変更不可の場合Nanを返却
    '''
    
    if value is None or value == '':
        return np.nan
    
    try:
        if flg:
            ret = int(value)
        else:
            ret = float(value)
        return ret

    except ValueError:
        return np.nan

In [20]:
def get_horse(horse_id):
    '''
    馬情報取得
    '''
    time.sleep(3)

    res = requests.get(f'https://db.netkeiba.com/horse/{str(horse_id).zfill(10)}/')
    res.encoding = res.apparent_encoding

    bs = BeautifulSoup(res.content, 'lxml')
    # sex
    sex = bs.find('p', class_='txt_01').get_text().split('　')[1][0]

    trs = bs.find('table', class_='db_prof_table').find_all('tr')
    # birthday
    birthday = trs[0].find('td').get_text()
    # trainer
    trainer = trs[1].find('td').find('a').get('href').split('/')[2]

    ret = [sex, birthday, trainer]

    # attribute items
    table = bs.find('table', class_='tekisei_table')
    for tr in table.find_all('tr'):
        ret.append(int(tr.find_all('img')[1].get('width')))

    return ret

In [21]:
def get_parents(horse_id):
    time.sleep(3)

    res = requests.get(f'https://db.netkeiba.com/horse/ped/{str(horse_id).zfill(10)}')
    res.encoding = res.apparent_encoding

    bs = BeautifulSoup(res.content, 'lxml')

    table = bs.find('table', class_='blood_table detail')

    if not table:
        return []
    
    tr = table.find_all('tr')

    parents_ids = []
    # 父
    parents_ids.append(tr[0].find_all('td')[0].find('a').get('href').split('/')[2])
    # 母父
    parents_ids.append(tr[16].find_all('td')[1].find('a').get('href').split('/')[2])

    ret = []
    for parent_id in parents_ids:
        res = requests.get(f'https://db.netkeiba.com/horse/result/{str(parent_id).zfill(10)}/')
        res.encoding = res.apparent_encoding

        ret = ret + get_result_parents(res.content)

    return ret

def get_result_parents(text):
    '''
    過去戦績取得
    '''

    bs = BeautifulSoup(text, 'lxml')

    table = bs.find('table', class_='db_h_race_results nk_tb_common')

    # 過去戦績がない場合
    if not table:
        return [0, 0, 0, 0]
    
    # tableタイトル取得
    title = []
    for th in table.find('thead').find_all('th'):
        title.append(th.get_text())
    
    data = []
    for tr in table.find('tbody').find_all('tr'):
        if '着順' in title:
            rank = tr.find_all('td')[title.index('着順')]

            try:
                rank = int(rank.get_text())
            except ValueError:
                rank = 0
            data.append(rank)

        else:
            data.append(0)
    # return -> [着順1のレース数, 着順2のレース数, 着順3のレース数, 着順4以降のレース数]
    return [data.count(1), data.count(2), data.count(3), len(data)-(data.count(1)+data.count(2)+data.count(3))]

In [22]:
def get_weight(horse_id):
    time.sleep(3)

    res = requests.get(f'https://db.netkeiba.com/horse/result/{str(horse_id).zfill(10)}/')
    res.encoding = res.apparent_encoding

    bs = BeautifulSoup(res.content, 'lxml')
    table = bs.find('table', class_='db_h_race_results nk_tb_common')
    trs = table.find_all('tr')

    for i, th in enumerate(trs[0].find_all('th')):
        if th.get_text() == 'レース名':
            index_race = i
        if th.get_text() == '馬体重':
            index_weight = i

    data = ''
    for i in range(1, len(trs)):
        race = trs[i].find_all('td')[index_race].find('a').get('href').split('/')[2]
        if i == len(trs[1:]):
            data += race + ',' + trs[i].find_all('td')[index_weight].get_text().split('(')[0]
        else:
            data += race + ',' + trs[i+1].find_all('td')[index_weight].get_text().split('(')[0] + ':'
    
    return [data]

In [24]:
horse_info = []
for i, horse_url in enumerate(horse_diff):
    start = time.time()
    horse_info.append([horse_url] + get_horse(horse_url) + get_parents(horse_url) + get_weight(horse_url))
    print(f'{i} / {len(horse_diff)} : horse_id={horse_url} : {round((time.time()-start)/60, 3)}min')

cols = ['horse_id', 'sex', 'birthday', 'trainer', 'attr_course', 'attr_length', 'attr_leg', 'attr_growth', 'attr_condition',
        'f_res_1st', 'f_res_2nd', 'f_res_3rd', 'f_res_lose', 'mf_res_1st', 'mf_res_2nd', 'mf_res_3rd', 'mf_res_lose', 'weight']
df = pd.DataFrame(horse_info, columns=cols)
df.to_csv('horse_data.csv', header=True, index=False)

0 / 1233 : horse_id=2010101760 : 0.231min
1 / 1233 : horse_id=2014101505 : 0.207min
2 / 1233 : horse_id=2017103874 : 0.198min
3 / 1233 : horse_id=2016104452 : 0.197min

          horse_id  ...                                             weight
0     2.010102e+09  ...  202036070508,534:202036062308,537:202035060906...
1     2.014102e+09  ...  202009030411,504:202004010311,498:202003010512...
2     2.017104e+09  ...  202009030712,506:202008031105,502:202004010310...
3     2.016104e+09  ...  202002020410,510:202009010609,506:202008010809...
4     2.017102e+09  ...  202009030611,420:202005021011,416:202009020611...
...            ...  ...                                                ...
6960  2.009103e+09  ...  201509050208,424:201508050512,418:201504020610...
6961  2.011100e+09  ...  201642053111,474:201645052710,472:201645051310...
6962  2.009106e+09  ...  201754022609,504:201754012909,501:201654123108...
6963  2.012104e+09  ...  201509050308,472:201505020511,470:201509020709...
6964  2.012104e+09  ...  201955112409,501:201955102711,499:201955100610...

[6965 rows x 18 columns]

In [36]:
def get_jockey(jockey_id):
    time.sleep(3)

    res = requests.get(f'https://db.netkeiba.com/jockey/profile/{str(jockey_id).zfill(5)}/')
    res.encoding = res.apparent_encoding

    bs = BeautifulSoup(res.content, 'lxml')

    # birthday
    birthday = None
    try:
        birthday = bs.find('p', class_='txt_01').get_text().split('\n')[1]
    except Exception as e:
        print(e)

    # weight
    weight = None
    table = bs.find('table', class_='nk_tb_common race_table_01')
    title = []
    if table:
        for tr in table.find_all('tr'):
            title.append(tr.find('th').get_text())
        if '体重' in title:
            weight =table.find_all('tr')[title.index('体重')].find('td').get_text()[:-2]
        else:
            print(jockey_id, ': weight=0 : no column')
    else:
        print(jockey_id, ': weight=0 : no table')

    return [weight, birthday]

In [37]:
jockey_info = []
for i, jockey_url in enumerate(jockey_2):
    start = time.time()
    jockey_info.append([jockey_url] + get_jockey(jockey_url))
    print(f'{i} / {len(jockey_2)} : horse_id={jockey_url} : {round((time.time()-start)/60, 3)}min')

cols = ['jockey_id', 'weight', 'birthday']
df = pd.DataFrame(jockey_info, columns=cols)
df.to_csv('horse_data.csv', header=True, index=False)
df

0 / 265 : horse_id=1015 : 0.056min
1 / 265 : horse_id=1091 : 0.055min
2 / 265 : horse_id=5203 : 0.055min
3 / 265 : horse_id=1032 : 0.055min
4 / 265 : horse_id=1127 : 0.055min
5 / 265 : horse_id=1116 : 0.055min
6 / 265 : horse_id=1163 : 0.055min
7 / 265 : horse_id=1095 : 0.055min
8 / 265 : horse_id=1176 : 0.055min
9 / 265 : horse_id=5339 : 0.055min
10 / 265 : horse_id=1093 : 0.055min
11 / 265 : horse_id=1096 : 0.055min
12 / 265 : horse_id=1109 : 0.055min
13 / 265 : horse_id=1030 : 0.055min
14 / 265 : horse_id=1112 : 0.055min
15 / 265 : horse_id=1025 : 0.055min
16 / 265 : horse_id=1124 : 0.055min
17 / 265 : horse_id=1144 : 0.054min
18 / 265 : horse_id=660 : 0.055min
19 / 265 : horse_id=5585 : 0.055min
20 / 265 : horse_id=1122 : 0.055min
21 / 265 : horse_id=1043 : 0.055min
22 / 265 : horse_id=1014 : 0.055min
23 / 265 : horse_id=1161 : 0.055min
24 / 265 : horse_id=1179 : 0.055min
25 / 265 : horse_id=1140 : 0.055min
26 / 265 : horse_id=663 : 0.055min
27 / 265 : horse_id=1125 : 0.055min
28 / 265 : horse_id=1162 : 0.055min
29 / 265 : horse_id=641 : 0.055min
30 / 265 : horse_id=1077 : 0.055min
31 / 265 : horse_id=1167 : 0.055min
32 / 265 : horse_id=1135 : 0.055min
33 / 265 : horse_id=422 : 0.055min
34 / 265 : horse_id=1034 : 0.055min
35 / 265 : horse_id=1102 : 0.056min
36 / 265 : horse_id=1170 : 0.054min
37 / 265 : horse_id=5386 : 0.055min
38 / 265 : horse_id=1150 : 0.055min
39 / 265 : horse_id=5212 : 0.055min
40 / 265 : horse_id=1158 : 0.056min
41 / 265 : horse_id=1130 : 0.055min
42 / 265 : horse_id=1117 : 0.055min
43 / 265 : horse_id=733 : 0.055min
44 / 265 : horse_id=1115 : 0.054min
45 / 265 : horse_id=1138 : 0.055min
46 / 265 : horse_id=5525 : 0.055min
47 / 265 : horse_id=1157 : 0.055min
48 / 265 : horse_id=1126 : 0.055min
49 / 265 : horse_id=666 : 0.055min
50 / 265 : horse_id=1166 : 0.055min
51 / 265 : horse_id=1141 : 0.055min
52 / 265 : horse_id=1160 : 0.058min
53 / 265 : horse_id=732 : 0.055min
54 / 265 : horse_id=1099 : 0.056min
55 / 265 : horse_id=1114 : 0.055min
56 / 265 : horse_id=1174 : 0.055min
57 / 265 : horse_id=1171 : 0.055min
58 / 265 : horse_id=1178 : 0.055min
59 / 265 : horse_id=1128 : 0.054min
60 / 265 : horse_id=1154 : 0.054min
61 / 265 : horse_id=1019 : 0.055min
62 / 265 : horse_id=1088 : 0.055min
63 / 265 : horse_id=1018 : 0.055min
64 / 265 : horse_id=1062 : 0.055min
65 / 265 : horse_id=1075 : 0.055min
66 / 265 : horse_id=689 : 0.055min
67 / 265 : horse_id=1009 : 0.055min
68 / 265 : horse_id=726 : 0.054min
69 / 265 : horse_id=684 : 0.056min
70 / 265 : horse_id=1004 : 0.055min
71 / 265 : horse_id=1134 : 0.055min
72 / 265 : horse_id=1152 : 0.055min
73 / 265 : horse_id=1142 : 0.055min
74 / 265 : horse_id=1108 : 0.055min
75 / 265 : horse_id=1031 : 0.055min
76 / 265 : horse_id=1169 : 0.054min
77 / 265 : horse_id=1092 : 0.055min
78 / 265 : horse_id=1165 : 0.055min
5243 : weight=0 : no column
79 / 265 : horse_id=5243 : 0.055min
80 / 265 : horse_id=1036 : 0.055min
81 / 265 : horse_id=1147 : 0.055min
82 / 265 : horse_id=1156 : 0.055min
83 / 265 : horse_id=1029 : 0.055min
84 / 265 : horse_id=1143 : 0.055min
85 / 265 : horse_id=894 : 0.055min
86 / 265 : horse_id=1037 : 0.055min
87 / 265 : horse_id=1133 : 0.055min
88 / 265 : horse_id=1180 : 0.055min
89 / 265 : horse_id=1146 : 0.055min
90 / 265 : horse_id=1168 : 0.055min
91 / 265 : horse_id=1173 : 0.055min
92 / 265 : horse_id=1051 : 0.056min
1182 : weight=0 : no column
93 / 265 : horse_id=1182 : 0.054min
94 / 265 : horse_id=1118 : 0.055min
95 / 265 : horse_id=1164 : 0.055min
96 / 265 : horse_id=1063 : 0.055min
97 / 265 : horse_id=1129 : 0.055min
98 / 265 : horse_id=652 : 0.057min
99 / 265 : horse_id=1153 : 0.055min
1184 : weight=0 : no column
100 / 265 : horse_id=1184 : 0.055min
101 / 265 : horse_id=1038 : 0.055min
102 / 265 : horse_id=5429 : 0.055min
103 / 265 : horse_id=1057 : 0.055min
104 / 265 : horse_id=1139 : 0.055min
105 / 265 : horse_id=1177 : 0.055min
106 / 265 : horse_id=1131 : 0.055min
5596 : weight=0 : no column
107 / 265 : horse_id=5596 : 0.055min
108 / 265 : horse_id=1119 : 0.055min
5420 : weight=0 : no column
109 / 265 : horse_id=5420 : 0.056min
110 / 265 : horse_id=1149 : 0.055min
1181 : weight=0 : no column
111 / 265 : horse_id=1181 : 0.055min
112 / 265 : horse_id=5517 : 0.055min
5597 : weight=0 : no column
113 / 265 : horse_id=5597 : 0.055min
114 / 265 : horse_id=1010 : 0.055min
115 / 265 : horse_id=5115 : 0.055min
5524 : weight=0 : no column
116 / 265 : horse_id=5524 : 0.055min
5171 : weight=0 : no column
117 / 265 : horse_id=5171 : 0.054min
118 / 265 : horse_id=1159 : 0.056min
5342 : weight=0 : no column
119 / 265 : horse_id=5342 : 0.055min
120 / 265 : horse_id=700 : 0.055min
5531 : weight=0 : no column
121 / 265 : horse_id=5531 : 0.055min
5269 : weight=0 : no column
122 / 265 : horse_id=5269 : 0.055min
5404 : weight=0 : no column
123 / 265 : horse_id=5404 : 0.055min
124 / 265 : horse_id=5575 : 0.056min
5268 : weight=0 : no column
125 / 265 : horse_id=5268 : 0.055min
126 / 265 : horse_id=1085 : 0.055min
5389 : weight=0 : no column
127 / 265 : horse_id=5389 : 0.055min
128 / 265 : horse_id=1151 : 0.054min
5271 : weight=0 : no column
129 / 265 : horse_id=5271 : 0.055min
130 / 265 : horse_id=5366 : 0.055min
131 / 265 : horse_id=5495 : 0.055min
5380 : weight=0 : no column
132 / 265 : horse_id=5380 : 0.055min
875 : weight=0 : no column
133 / 265 : horse_id=875 : 0.055min
5390 : weight=0 : no column
134 / 265 : horse_id=5390 : 0.055min
5286 : weight=0 : no column
135 / 265 : horse_id=5286 : 0.054min
136 / 265 : horse_id=1059 : 0.057min
5578 : weight=0 : no column
137 / 265 : horse_id=5578 : 0.055min
5512 : weight=0 : no column
138 / 265 : horse_id=5512 : 0.055min
5534 : weight=0 : no column
139 / 265 : horse_id=5534 : 0.055min
5492 : weight=0 : no column
140 / 265 : horse_id=5492 : 0.054min
5586 : weight=0 : no column
141 / 265 : horse_id=5586 : 0.055min
5533 : weight=0 : no column
142 / 265 : horse_id=5533 : 0.055min
5321 : weight=0 : no column
143 / 265 : horse_id=5321 : 0.055min
817 : weight=0 : no column
144 / 265 : horse_id=817 : 0.055min
5427 : weight=0 : no column
145 / 265 : horse_id=5427 : 0.056min
146 / 265 : horse_id=5470 : 0.055min
5091 : weight=0 : no column
147 / 265 : horse_id=5091 : 0.055min
5229 : weight=0 : no column
148 / 265 : horse_id=5229 : 0.055min
5411 : weight=0 : no column
149 / 265 : horse_id=5411 : 0.055min
837 : weight=0 : no column
150 / 265 : horse_id=837 : 0.054min
151 / 265 : horse_id=1155 : 0.056min
152 / 265 : horse_id=1069 : 0.055min
153 / 265 : horse_id=5568 : 0.055min
154 / 265 : horse_id=1175 : 0.055min
5543 : weight=0 : no column
155 / 265 : horse_id=5543 : 0.055min
5584 : weight=0 : no column
156 / 265 : horse_id=5584 : 0.055min
5099 : weight=0 : no column
157 / 265 : horse_id=5099 : 0.055min
5548 : weight=0 : no column
158 / 265 : horse_id=5548 : 0.055min
159 / 265 : horse_id=5469 : 0.055min
5573 : weight=0 : no column
160 / 265 : horse_id=5573 : 0.055min
161 / 265 : horse_id=1172 : 0.054min
5545 : weight=0 : no column
162 / 265 : horse_id=5545 : 0.055min
163 / 265 : horse_id=5473 : 0.055min
164 / 265 : horse_id=5529 : 0.055min
165 / 265 : horse_id=5509 : 0.055min
5574 : weight=0 : no table
166 / 265 : horse_id=5574 : 0.055min
167 / 265 : horse_id=5471 : 0.055min
5299 : weight=0 : no column
168 / 265 : horse_id=5299 : 0.055min
5445 : weight=0 : no column
169 / 265 : horse_id=5445 : 0.055min
5199 : weight=0 : no column
170 / 265 : horse_id=5199 : 0.055min
5328 : weight=0 : no column
171 / 265 : horse_id=5328 : 0.055min
5370 : weight=0 : no column
172 / 265 : horse_id=5370 : 0.055min
5306 : weight=0 : no column
173 / 265 : horse_id=5306 : 0.055min
174 / 265 : horse_id=722 : 0.055min
175 / 265 : horse_id=1046 : 0.055min
176 / 265 : horse_id=1061 : 0.055min
5377 : weight=0 : no column
177 / 265 : horse_id=5377 : 0.055min
5393 : weight=0 : no column
178 / 265 : horse_id=5393 : 0.055min
5570 : weight=0 : no table
179 / 265 : horse_id=5570 : 0.055min
5569 : weight=0 : no table
180 / 265 : horse_id=5569 : 0.055min
5438 : weight=0 : no column
181 / 265 : horse_id=5438 : 0.055min
5571 : weight=0 : no table
182 / 265 : horse_id=5571 : 0.055min
5567 : weight=0 : no column
183 / 265 : horse_id=5567 : 0.055min
5309 : weight=0 : no column
184 / 265 : horse_id=5309 : 0.055min
5542 : weight=0 : no column
185 / 265 : horse_id=5542 : 0.055min
186 / 265 : horse_id=1072 : 0.055min
5566 : weight=0 : no table
187 / 265 : horse_id=5566 : 0.055min
188 / 265 : horse_id=1123 : 0.055min
189 / 265 : horse_id=5336 : 0.055min
190 / 265 : horse_id=629 : 0.055min
5364 : weight=0 : no column
191 / 265 : horse_id=5364 : 0.055min
192 / 265 : horse_id=1049 : 0.055min
5435 : weight=0 : no column
193 / 265 : horse_id=5435 : 0.057min
5555 : weight=0 : no column
194 / 265 : horse_id=5555 : 0.055min
5554 : weight=0 : no column
195 / 265 : horse_id=5554 : 0.055min
5557 : weight=0 : no table
196 / 265 : horse_id=5557 : 0.055min
5556 : weight=0 : no table
197 / 265 : horse_id=5556 : 0.055min
5553 : weight=0 : no table
198 / 265 : horse_id=5553 : 0.055min
5552 : weight=0 : no column
199 / 265 : horse_id=5552 : 0.055min
5558 : weight=0 : no column
200 / 265 : horse_id=5558 : 0.055min
5538 : weight=0 : no column
201 / 265 : horse_id=5538 : 0.055min
202 / 265 : horse_id=1008 : 0.057min
5551 : weight=0 : no table
203 / 265 : horse_id=5551 : 0.055min
5550 : weight=0 : no table
204 / 265 : horse_id=5550 : 0.055min
5527 : weight=0 : no column
205 / 265 : horse_id=5527 : 0.055min
5089 : weight=0 : no column
206 / 265 : horse_id=5089 : 0.055min
843 : weight=0 : no column
207 / 265 : horse_id=843 : 0.055min
5414 : weight=0 : no column
208 / 265 : horse_id=5414 : 0.055min
5447 : weight=0 : no column
209 / 265 : horse_id=5447 : 0.055min
5546 : weight=0 : no table
210 / 265 : horse_id=5546 : 0.055min
5541 : weight=0 : no column
211 / 265 : horse_id=5541 : 0.055min
5516 : weight=0 : no column
212 / 265 : horse_id=5516 : 0.055min
5547 : weight=0 : no table
213 / 265 : horse_id=5547 : 0.055min
5487 : weight=0 : no column
214 / 265 : horse_id=5487 : 0.055min
409 : weight=0 : no column
215 / 265 : horse_id=409 : 0.055min
5098 : weight=0 : no column
216 / 265 : horse_id=5098 : 0.055min
5135 : weight=0 : no column
217 / 265 : horse_id=5135 : 0.055min
218 / 265 : horse_id=1097 : 0.055min
5544 : weight=0 : no table
219 / 265 : horse_id=5544 : 0.055min
5073 : weight=0 : no column
220 / 265 : horse_id=5073 : 0.055min
5522 : weight=0 : no column
221 / 265 : horse_id=5522 : 0.055min
222 / 265 : horse_id=1066 : 0.055min
223 / 265 : horse_id=5454 : 0.055min
5540 : weight=0 : no column
224 / 265 : horse_id=5540 : 0.057min
225 / 265 : horse_id=1080 : 0.055min
5408 : weight=0 : no column
226 / 265 : horse_id=5408 : 0.055min
227 / 265 : horse_id=1132 : 0.055min
5217 : weight=0 : no column
228 / 265 : horse_id=5217 : 0.055min
229 / 265 : horse_id=1026 : 0.054min
5230 : weight=0 : no column
230 / 265 : horse_id=5230 : 0.055min
5161 : weight=0 : no column
231 / 265 : horse_id=5161 : 0.055min
5451 : weight=0 : no column
232 / 265 : horse_id=5451 : 0.054min
5504 : weight=0 : no column
233 / 265 : horse_id=5504 : 0.055min
5539 : weight=0 : no table
234 / 265 : horse_id=5539 : 0.055min
5537 : weight=0 : no table
235 / 265 : horse_id=5537 : 0.055min
5514 : weight=0 : no column
236 / 265 : horse_id=5514 : 0.055min
237 / 265 : horse_id=1113 : 0.055min
5532 : weight=0 : no column
238 / 265 : horse_id=5532 : 0.055min
5521 : weight=0 : no column
239 / 265 : horse_id=5521 : 0.055min
5535 : weight=0 : no table
240 / 265 : horse_id=5535 : 0.055min
5536 : weight=0 : no table
241 / 265 : horse_id=5536 : 0.055min
5416 : weight=0 : no column
242 / 265 : horse_id=5416 : 0.055min
5374 : weight=0 : no column
243 / 265 : horse_id=5374 : 0.055min
5502 : weight=0 : no column
244 / 265 : horse_id=5502 : 0.055min
5460 : weight=0 : no column
245 / 265 : horse_id=5460 : 0.055min
5528 : weight=0 : no column
246 / 265 : horse_id=5528 : 0.055min
5530 : weight=0 : no column
247 / 265 : horse_id=5530 : 0.055min
248 / 265 : horse_id=1104 : 0.055min
815 : weight=0 : no column
249 / 265 : horse_id=815 : 0.055min
5519 : weight=0 : no column
250 / 265 : horse_id=5519 : 0.055min
5497 : weight=0 : no column
251 / 265 : horse_id=5497 : 0.055min
5376 : weight=0 : no column
252 / 265 : horse_id=5376 : 0.055min
253 / 265 : horse_id=705 : 0.055min
254 / 265 : horse_id=1137 : 0.055min
878 : weight=0 : no column
255 / 265 : horse_id=878 : 0.055min
856 : weight=0 : no column
256 / 265 : horse_id=856 : 0.056min
5503 : weight=0 : no column
257 / 265 : horse_id=5503 : 0.055min
5526 : weight=0 : no table
258 / 265 : horse_id=5526 : 0.055min
5455 : weight=0 : no column
259 / 265 : horse_id=5455 : 0.055min
260 / 265 : horse_id=1111 : 0.055min
261 / 265 : horse_id=711 : 0.055min
262 / 265 : horse_id=5498 : 0.055min
263 / 265 : horse_id=635 : 0.055min
264 / 265 : horse_id=1050 : 0.056min

     jockey_id weight    birthday
0         1015     50  1977/09/26
1         1091     47  1985/11/05
2         5203     50  1974/03/12
3         1032     45  1979/07/23
4         1127     47  1990/10/03
..         ...    ...         ...
260       1111     47  1986/05/12
261        711     49  1974/03/19
262       5498     53  1983/02/07
263        635     50  1965/07/22
264       1050     47  1982/01/13

[265 rows x 3 columns]